<app-svg-icon
  size="16"
  class="left"
  *ngIf="leftIcon != null"
  [name]="leftIcon"
  (click)="handleLeftIconClick()"
>
</app-svg-icon>

<input
  #input
  [type]="type"
  [value]="value"
  [min]="min"
  [max]="max"
  [step]="step"
  (keyup)="handleInputChange($event)"
  (change)="handleInputChange($event)"
  [ngStyle]="{ 'padding-left': leftIcon == null ? '16px' : '35px' }"
/>

<span
  class="placeholder"
  (click)="input.focus()"
  [class.active]="value != null"
  [textContent]="placeholder"
  [ngStyle]="{ left: leftIcon == null ? '12px' : '30px' }"
>
</span>

<app-svg-icon
  size="14px"
  class="right"
  [name]="rightIcon"
  *ngIf="rightIcon != null && value != null"
  (click)="handleRightIconClick($event)"
>
</app-svg-icon>
