@import "constants";

$spaceFromTop: 35%;

:host {
  position: relative;
  display: block;

  input {
    padding-right: 35px;
    width: 100%;
    border-color: $inputBorderColor;

    &:focus {
      border-color: rgba(27, 85, 235, 0.48);
    }
  }

  .right {
    position: absolute;
    top: $spaceFromTop;
    right: 16px;
    cursor: pointer;
  }

  .left {
    position: absolute;
    z-index: 1;
    top: $spaceFromTop;
    left: 10px;
    cursor: pointer;
  }

  .placeholder {
    position: absolute;
    top: $spaceFromTop;
    color: #65656a;
    background-color: $primaryBackgroundColor;
    padding: 0 5px;
    transition: all 0.2s ease;

    &.active {
      transform: scale(0.9) translateY(-25px);
    }
  }

  input:focus + .placeholder {
    transform: scale(0.9) translateY(-25px);
  }

  &.ng-touched.ng-invalid {
    input {
      border: 1px solid $dangerColor;
    }
  }
}
