@import "constants";

$indent: 0 20px;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidePanelContentWidth;
  background-color: $lightColor;
}

.back {
  display: flex;
  align-items: center;
  gap: $indent;

  app-svg-icon {
    transform: rotate(90deg);
  }
}

.content {
  padding: $indent;
}

.actions {
  display: flex;
  gap: 32px;

  button {
    width: 100%;
  }
}
