@import "constants";
.no-data {
  color: $lightColor;
  text-align: center;
}

.chart {
  background-color: $lightColor;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
}

.productuvity {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .title {
    color: $lightColor;
    margin: 0 10px 10px 10px;
  }
}

.view-type {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  .icon {
    color: $lightColor;
    cursor: pointer;

    &:hover {
      color: $successColor;
    }
    &.active {
      color: $successColor;
    }
  }
}
