<div (click)="handleSelectToggle($event)" [class.active]="opened">
  <span
    class="placeholder"
    [class.floating]="selectedItems && selectedItems.length > 0"
    [textContent]="placeholder"
  ></span>

  <span
    *ngIf="selectedItems && selectedItems.length > 0 && multi; else singleItem"
  >{{'Selected items' | translate}}: {{ selectedItems.length }}</span
  >
  <ng-template #singleItem>
    <div class="item" *ngIf="selectedItems && selectedItems.length > 0">
      <span [textContent]="selectedItems && selectedItems[0][nameField]"></span>
      <app-svg-icon
        name="clear"
        size="10"
        (click)="handleRemoveItem($event, selectedItems[0])"
      ></app-svg-icon>
    </div>
  </ng-template>

  <div class="actions-icons">
    <app-svg-icon
      name="clear"
      size="12"
      *ngIf="selectedItems && selectedItems.length > 0 && multi"
      (click)="handleClearAll()"
    ></app-svg-icon>
    <app-svg-icon
      name="arrow-down"
      size="14"
      [class.opened]="opened"
    ></app-svg-icon>
  </div>
</div>

<div class="options" [class.collapsed]="opened" *ngIf="items.length > 0">
  <div
    class="selected-items"
    *ngIf="selectedItems && selectedItems.length !== 0 && multi">
    <div class="item" *ngFor="let item of selectedItems">
      <span [textContent]="item[nameField]"></span>
      <app-svg-icon
        name="clear"
        size="10"
        (click)="handleRemoveItem($event, item)"
      ></app-svg-icon>
    </div>
  </div>

  <div>
    <input
      #input
      type="text"
      [placeholder]="'Search' | translate"
      (keyup)="handleSearch(input.value)"/>
  </div>

  <ng-container *ngIf="!groupField">
    <ng-container *ngFor="let item of localItems" [ngTemplateOutlet]="option" [ngTemplateOutletContext]="{item}">
    </ng-container>
  </ng-container>

  <ng-container *ngIf="groupField">
    <div *ngFor="let group of groups">
      <p>{{ group }}</p>

      <div *ngFor="let item of localItems">
        <ng-container *ngIf="item[nameField] === group" [ngTemplateOutlet]="option" [ngTemplateOutletContext]="{item}">
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #option let-item="item">
  <div
    class="option"
    (click)="handleItemClick($event, item)"
  >
    <span [textContent]="item[nameField]"></span>
    <app-svg-icon
      name="tick"
      size="12"
      *ngIf="!!selectedItemsObj[item[idField]]"
    ></app-svg-icon>
  </div>
</ng-template>