<form [formGroup]="form">
  <div class="field-group">
    <app-form-field name="name_ru" #nameRu>
      <app-input
        type="text"
        [placeholder]="'Name in russian' | translate"
        [required]="nameRu.required"
        formControlName="name_ru"
      >
      </app-input>
    </app-form-field>

    <app-form-field name="name_ky" #nameKg>
      <app-input
        type="text"
        [placeholder]="'Name in kyrgyz' | translate"
        [required]="nameKg.required"
        formControlName="name_ky"
      >
      </app-input>
    </app-form-field>

    <app-form-field name="name_en" #nameEn>
      <app-input
        type="text"
        [placeholder]="'Name in english' | translate"
        [required]="nameEn.required"
        formControlName="name_en"
      >
      </app-input>
    </app-form-field>

    <app-form-field name="coefficient_crop" #coefficient_crop>
      <app-input
        type="number"
        [step]="0.1"
        [required]="coefficient_crop.required"
        [placeholder]="'Coefficient' | translate"
        formControlName="coefficient_crop"
      >
      </app-input>
    </app-form-field>
  </div>
</form>
