<form [formGroup]="form">
  <div class="field-group">
    <app-input
      type="text"
      [placeholder]="'Name in russian' | translate"
      formControlName="name_ru"
    >
    </app-input>
    <app-input
      type="text"
      [placeholder]="'Name in kyrgyz' | translate"
      formControlName="name_ky"
    >
    </app-input>
    <app-input
      type="text"
      [placeholder]="'Name in english' | translate"
      formControlName="name_en"
    >
    </app-input>
    <app-input
      type="number"
      [step]="0.1"
      [placeholder]="'Coefficient' | translate"
      formControlName="coefficient_crop"
    >
    </app-input>
  </div>
</form>
