@import "constants";

:host {
  display: inline-flex;
  column-gap: 15px;
  row-gap: 5px;

  &.vertical {
    flex-direction: column;
  }
}

.option {
  display: inline-block;

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    color: $lightColor;

    &::before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 8%;
      background-color: $lightColor;
    }

    &.active::before {
      border: 3px solid $lightColor;
      background-color: $successColor;
    }
  }
}
