<div class="header">
  <h1 class="title">{{ "Districts" | translate }}</h1>
</div>
<div class="list">
  <app-table
    [items]="list"
    [fields]="[
      { title: 'Name' | translate, field: 'name_' + currentLang },
      { title: 'Code SOATO' | translate, field: 'code_soato' }
    ]"
    *ngIf="list.length > 0; else noItems"
  ></app-table>
  <ng-template #noItems>
    <app-loading [loading]="loading">
      <h4>{{ "No data" | translate }}</h4>
    </app-loading>
  </ng-template>
</div>
<router-outlet></router-outlet>
<app-paginator
  [currentPage]="1"
  *ngIf="list.length > 0"
  [totalItems]="totalCount"
  [itemsPerPage]="pageSize"
  (onPageChange)="getList($event)"
  [hidden]="loading"
></app-paginator>
