<div class="header">
  <h1 class="title">{{ "Cultures" | translate }}</h1>
  <div class="actions">
    <button
      *ngIf="user != null"
      type="button"
      [title]="'Create' | translate"
      class="success"
      (click)="handleAddClick()"
    >
      <app-svg-icon name="plus" size="18"></app-svg-icon>
      <span>{{ "Create" | translate }}</span>
    </button>
  </div>
</div>
<div class="list">
  <app-table
    [actionEdit]="user != null"
    [actionDelete]="user != null"
    [actions]="user != null"
    [items]="list"
    [fields]="[
      { title: 'Name' | translate, field: 'name_' + currentLang },
      { title: 'Coefficient' | translate, field: 'coefficient_crop' }
    ]"
    (actionClick)="handleTableActionClick($event)"
    *ngIf="list.length > 0; else noItems"
  ></app-table>
  <ng-template #noItems>
    <app-loading [loading]="loading">
      <h4>{{ "No data" | translate }}</h4>
    </app-loading>
  </ng-template>
</div>
<router-outlet></router-outlet>
