<div class="header">
  <h1 class="title">{{ "Cultures" | translate }}</h1>
  <div class="actions">
    <button
      *ngIf="user != null"
      type="button"
      [title]="'Create' | translate"
      class="success"
      (click)="handleAddClick()"
    >
      <app-svg-icon name="plus" size="18"></app-svg-icon>
      <span>{{ "Create" | translate }}</span>
    </button>
  </div>
</div>

<ng-container *ngIf="!loading; else skeleton">
  <div class="list">
    <app-table
      [actions]="user != null"
      [items]="list"
      [fields]="[
        { title: 'Name' | translate, field: 'name_' + currentLang },
        { title: 'Coefficient' | translate, field: 'coefficient_crop' }
      ]"
      (actionClick)="handleTableActionClick($event)"
      *ngIf="list.length > 0; else noItems"
    ></app-table>
    <ng-template #noItems>
      <h4>{{ "No data" | translate }}</h4>
    </ng-template>
  </div>
</ng-container>

<ng-template #skeleton>
  <ng-container *ngFor="let num of [].constructor(10)">
    <app-skeleton
      [width]="'100%'"
      [height]="'35px'"
      [className]="'mb-10'"
      [borderRadius]="'10px'"
    ></app-skeleton>
  </ng-container>
</ng-template>

<router-outlet></router-outlet>
