<dialog #dialog>
  <div class="header">
    <h1 class="title" [textContent]="title"></h1>
    <app-svg-icon class="icon" name="clear" size="16" (click)="handleCloseClick()"></app-svg-icon>
  </div>
  <div class="body">
    <div class="icon-dialog-info" *ngIf="isInfo"></div>
    <div class="icon-dialog-danger" *ngIf="isDanger"></div>
    <div class="icon-dialog-warning" *ngIf="isWarning"></div>
    <div class="icon-dialog-success" *ngIf="isSuccess"></div>

    <span>
            <ng-content></ng-content>
        </span>
  </div>
  <div class="footer">
    <button type="button" class="btn-secondary-outlined" [textContent]="cancelText | translate"
            (click)="handleCloseClick()"></button>
    <button type="button" class="btn btn-submit" [textContent]="submitText | translate"
            (click)="handleSubmitClick()"></button>
  </div>
</dialog>
