<ng-template #navItem let-path="path" let-title="title" let-data="data">
  <a
    routerLinkActive="active"
    [routerLink]="path"
    [routerLinkActiveOptions]="{ exact: true }"
    [ngClass]="data.class"
  >
    <app-svg-icon
      class="icon"
      size="24px"
      [name]="data.icon"
      *ngIf="data.icon != null"
    ></app-svg-icon>
    <img
      class="image"
      [src]="'assets/images/' + data.image"
      *ngIf="data.image != null"
    />
    <span class="title" [textContent]="title | translate"></span>
  </a>
</ng-template>

<div class="menu" [class.open]="opened">
  <nav class="top">
    <ng-container
      *ngFor="let route of topRoutes"
      [ngTemplateOutlet]="navItem"
      [ngTemplateOutletContext]="route"
    ></ng-container>
  </nav>

  <nav class="bottom">
    <ng-container
      *ngFor="let route of bottomRoutes"
      [ngTemplateOutlet]="navItem"
      [ngTemplateOutletContext]="route"
    ></ng-container>
    <a class="language-switcher"
       (click)="handleLangClick($event)"
    >
      <app-svg-icon
        class="icon"
        size="24px"
        name="lang"
      ></app-svg-icon>
      <span class="title">{{ 'Language' | translate }}</span>
      <div class="languages" [class.languages-opened]="langsOpened" #languagesDialog>
        <span (click)="handleLangChange($event, 'ru')">{{ 'Russian' | translate }}
          <app-svg-icon
            *ngIf="currentLang === 'ru'"
            size="14px"
            name="check">
          </app-svg-icon>
        </span>
        <span (click)="handleLangChange($event, 'ky')">{{ 'Kyrgyz' | translate }}
          <app-svg-icon
            *ngIf="currentLang === 'ky'"
            size="14px"
            name="check">
          </app-svg-icon>
        </span>
        <span (click)="handleLangChange($event, 'en')">{{ 'English' | translate }}
          <app-svg-icon
            *ngIf="currentLang === 'en'"
            size="14px"
            name="check">
          </app-svg-icon>
        </span>
      </div>
    </a>

    <button type="button" class="toggler" (click)="opened = !opened">></button>
  </nav>
</div>

<div class="content">
  <ng-content></ng-content>
</div>
