@import "constants";

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  gap: $sideNavMenuGap;
  width: $sideNavMenuWidth;
  background-color: $sideNavMenuBgColor;
  transition: width $sideNavTransitionDelay;

  &.open {
    width: $sideNavMenuOpenWidth;

    & + .content {
      left: $sideNavMenuOpenWidth;
      width: calc(100% - $sideNavMenuOpenWidth);
    }

    .toggler app-svg-icon {
      transform: rotate(90deg);
    }

    nav a .title {
      display: inline-block;
    }
  }

  .toggler {
    width: 100%;
    border-radius: 0;

    app-svg-icon {
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  nav {
    a {
      display: flex;
      align-items: center;
      padding: $sideNavMenuItemPadding;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: $sideNavMenuItemHoverBgColor;
      }

      .image {
        width: 100%;
        max-width: $sideNavMenuWidth - $sideNavMenuItemPadding -
          $sideNavMenuItemIconMargin;
      }

      .icon {
        margin-left: $sideNavMenuItemIconMargin;
      }

      .title {
        display: none;
      }
    }
  }
}

.icon-wrapper {
  position: relative;
}

.notifications-indicator {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: $dangerColor;
  border-radius: 50%;
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: $sideNavMenuWidth;
  width: calc(100% - $sideNavMenuWidth);
  transition: all $sideNavTransitionDelay;
  overflow: auto;
}

.language-switcher {
  position: relative;

  .title {
    cursor: pointer;
  }
}

.languages {
  min-width: 200px;
  position: absolute;
  bottom: 0;
  right: -200px;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: $lightColor;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
    0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  visibility: hidden;
  opacity: 0;
  transform: translateX(100px);
  transition: all 0.2s ease;
  border-radius: 4px;

  &.languages-opened {
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
  }

  span {
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: $darkColor;

    &:not(:last-child) {
      border-bottom: 1px solid $secondaryColor;
    }

    &:hover {
      background-color: $secondaryColor;
    }
  }
}

@media only screen and (max-width: 576px) {
  .menu {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: $mobileNavMarginBottom;
    z-index: 9999;
    width: 97%;
    background-color: #ececec;
    border-radius: 50px;
    height: $mobileBottomNavHeight;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 25px;

    nav {
      display: flex;
      width: fit-content;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        color: #656b7b;

        &.active {
          color: #333333;
        }
      }
    }

    .btn-left,
    .btn-right {
      color: #959595;
      font-size: 50px;
      height: inherit;
      opacity: 1;
      width: 50px;
      background-color: #ececec;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 500;

      .arrow-left {
        transform: rotate(90deg);
      }

      .arrow-right {
        transform: rotate(270deg);
      }
    }

    .btn-left {
      left: 1.5%;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }

    .btn-right {
      right: 1.5%;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }

  .languages-mobile {
    right: 10px;
    position: fixed;
    bottom: $mobileBottomNavHeight + $mobileNavMarginBottom;
    z-index: 500;
  }

  .content {
    left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .mobile-menu,
  .languages-mobile {
    display: none !important;
  }
}
