@import "constants";

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  gap: $sideNavMenuGap;
  width: $sideNavMenuWidth;
  background-color: $sideNavMenuBgColor;
  transition: width $sideNavTransitionDelay;

  &.open {
    width: $sideNavMenuOpenWidth;

    & + .content {
      left: $sideNavMenuOpenWidth;
      width: calc(100% - $sideNavMenuOpenWidth);
    }

    .toggler app-svg-icon {
      transform: rotate(90deg);
    }

    nav a .title {
      display: inline-block;
    }
  }

  .toggler {
    width: 100%;
    border-radius: 0;

    app-svg-icon {
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  nav {
    a {
      display: flex;
      align-items: center;
      gap: $sideNavMenuItemGap;
      padding: $sideNavMenuItemPadding;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: $sideNavMenuItemHoverBgColor;
      }

      .image {
        width: 100%;
        max-width: $sideNavMenuWidth - $sideNavMenuItemPadding -
          $sideNavMenuItemIconMargin;
      }

      .icon {
        margin-left: $sideNavMenuItemIconMargin;
      }

      .title {
        display: none;
      }
    }
  }
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: $sideNavMenuWidth;
  width: calc(100% - $sideNavMenuWidth);
  transition: all $sideNavTransitionDelay;
  overflow: auto;
}

.language-switcher {
  position: relative;

  .title {
    cursor: pointer;
  }

  .languages {
    min-width: 200px;
    position: absolute;
    bottom: 0;
    right: -200px;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: $lightColor;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12),
      0px 6px 16px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
    visibility: hidden;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.2s ease;
    border-radius: 4px;

    &.languages-opened {
      visibility: visible;
      transform: translateX(0);
      opacity: 1;
    }

    span {
      padding: 15px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: right;
      color: $darkColor;

      &:not(:last-child) {
        border-bottom: 1px solid $secondaryColor;
      }

      &:hover {
        background-color: $secondaryColor;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .menu {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    display: flex;
    align-items: center;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 5px;
    z-index: 9999;
    width: 97%;
    background-color: #ececec;
    border-radius: 50px;
    height: $mobileBottomNavHeight;

    nav {
      display: flex;
      width: 100%;
      padding: 0 10px;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-size: 11px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        color: #656b7b;

        &.active {
          color: #333333;
        }
      }
    }
  }

  .languages {
    right: -10px !important;
  }

  .content {
    left: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .mobile-menu {
    display: none !important;
  }
}
