@import "constants";

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 10;
  gap: $sideNavMenuGap;
  width: $sideNavMenuWidth;
  background-color: $sideNavMenuBgColor;
  transition: width $sideNavTransitionDelay;

  &.open {
    width: $sideNavMenuOpenWidth;

    &+.content {
      left: $sideNavMenuOpenWidth;
      width: calc(100% - $sideNavMenuOpenWidth);
    }

    .toggler app-svg-icon {
      transform: rotate(90deg);
    }

    nav a .title {
      display: inline-block;
    }
  }

  .toggler {
    width: 100%;
    border-radius: 0;

    app-svg-icon {
      display: inline-block;
      transform: rotate(-90deg);
    }
  }

  nav {
    a {
      display: flex;
      align-items: center;
      gap: $sideNavMenuItemGap;
      padding: $sideNavMenuItemPadding;
      text-decoration: none;

      &:hover,
      &.active {
        background-color: $sideNavMenuItemHoverBgColor;
      }

      .image {
        width: 100%;
        max-width: $sideNavMenuWidth - $sideNavMenuItemPadding - $sideNavMenuItemIconMargin;
      }

      .icon {
        margin-left: $sideNavMenuItemIconMargin;
      }

      .title {
        display: none;
      }
    }
  }
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: $sideNavMenuWidth;
  width: calc(100% - $sideNavMenuWidth);
  transition: all $sideNavTransitionDelay;
}
