@import "constants";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden auto;
  width: 100%;
  background-color: $lightColor;
  padding: 40px 40px 0 40px;
}
