<h2>{{ "Edit profile" | translate }}</h2>
<form [formGroup]="form">
  <div class="field-group">
    <app-form-field name="full_name" #full_name>
      <app-input
        type="text"
        [placeholder]="'Fullname' | translate"
        formControlName="full_name"
        [required]="full_name.required"
        (keydown)="inputOnKeydown($event)"
      >
      </app-input>
    </app-form-field>

    <div class="phone_number">
      <app-input
        type="text"
        [placeholder]="''"
        [value]="'+996'"
        [disabled]="true"
      ></app-input>

      <app-form-field name="phone_number" #phone_number>
        <app-input
          type="tel"
          (keydown)="inputOnKeydown($event)"
          [placeholder]="'Phone number' | translate"
          formControlName="phone_number"
          [required]="phone_number.required"
        >
        </app-input>
      </app-form-field>
    </div>

    <div class="actions">
      <button type="button" class="success" (click)="handleSaveClick()">
        {{ "Save" | translate }}
      </button>
    </div>
  </div>
</form>
