<h2>{{ "Edit profile" | translate }}</h2>
<form [formGroup]="form" (ngSubmit)="handleSaveClick()">
  <div class="field-group">
    <app-form-field name="full_name" #full_name>
      <app-input
        type="text"
        [placeholder]="'Fullname' | translate"
        formControlName="full_name"
        [required]="full_name.required"
      >
      </app-input>
    </app-form-field>

    <div class="phone_number">
      <app-form-field name="phone_number" #phone_number>
        <app-input
          type="tel"
          [placeholder]="'Phone number' | translate"
          formControlName="phone_number"
          [required]="phone_number.required"
        >
        </app-input>
      </app-form-field>
    </div>

    <div class="actions">
      <button type="submit" class="success">
        {{ "Save" | translate }}
      </button>

      <app-loading [loading]="loading"></app-loading>
    </div>
  </div>
</form>
