<div class="header">
  <h1 class="title">
    {{ "Pivot table of cultures indicators" | translate }}
  </h1>
</div>
<app-input-select
  [placeholder]="'Select a culture' | translate"
  [items]="cultures"
  [nameField]="'name_' + currentLang"
  (onSelectItem)="handleSelectCulture($event)"
  [formControl]="cultureFormControl"
></app-input-select>

<div class="list">
  <app-table
    *ngIf="culturalHealthIndicators.length > 0; else noItems"
    [items]="culturalHealthIndicators"
    [fields]="[
      {
        title: 'Territory' | translate,
        field: 'name_' + currentLang,
        colspan: 1
      },
      {
        title: 'NDWI' | translate,
        field: 'name_' + currentLang,
        colspan: 2
      },
      { title: 'NDMI' | translate, field: 'code_soato', colspan: 2 },
      { title: 'NDRE' | translate, field: 'population', colspan: 2 },
      { title: 'VARI' | translate, field: 'density', colspan: 2 },
      { title: 'SAVI' | translate, field: 'area', colspan: 2 },
      { title: 'Elevation' | translate, field: 'area', colspan: 2 }
    ]"
    [nestedFields]="[
      {
        title: 'Districts' | translate,
        field: 'district_name_' + currentLang,
        mobileTitle: 'Districts' | translate
      },
      {
        title: 'min' | translate,
        field: 'ndwi_min',
        mobileTitle: ('min' | translate) + '. ' + ('NDWI' | translate)
      },
      {
        title: 'max' | translate,
        field: 'ndwi_max',
        mobileTitle: ('max' | translate) + '. ' + ('NDWI' | translate)
      },

      {
        title: 'min' | translate,
        field: 'ndmi_min',
        mobileTitle: ('min' | translate) + '. ' + ('NDMI' | translate)
      },
      {
        title: 'max' | translate,
        field: 'ndmi_max',
        mobileTitle: ('min' | translate) + '. ' + ('NDMI' | translate)
      },

      {
        title: 'min' | translate,
        field: 'ndre_min',
        mobileTitle: ('min' | translate) + '. ' + ('NDRE' | translate)
      },
      {
        title: 'max' | translate,
        field: 'ndre_max',
        mobileTitle: ('min' | translate) + '. ' + ('NDRE' | translate)
      },

      {
        title: 'min' | translate,
        field: 'vari_min',
        mobileTitle: ('min' | translate) + '. ' + ('VARI' | translate)
      },
      {
        title: 'max' | translate,
        field: 'vari_max',
        mobileTitle: ('min' | translate) + '. ' + ('VARI' | translate)
      },

      {
        title: 'min' | translate,
        field: 'savi_min',
        mobileTitle: ('min' | translate) + '. ' + ('SAVI' | translate)
      },
      {
        title: 'max' | translate,
        field: 'savi_max',
        mobileTitle: ('min' | translate) + '. ' + ('SAVI' | translate)
      },

      {
        title: 'min' | translate,
        field: 'min_elevation',
        mobileTitle: ('min' | translate) + '. ' + ('Elevation' | translate)
      },
      {
        title: 'max' | translate,
        field: 'max_elevation',
        mobileTitle: ('max' | translate) + '. ' + ('Elevation' | translate)
      }
    ]"
  ></app-table>
  <ng-template #noItems>
    <app-loading [loading]="loading">
      <h4>{{ "No data" | translate }}</h4>
    </app-loading>
  </ng-template>
</div>
