:host {
  display: block;

  .form-fields {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    app-input-select,
    app-input {
      width: 300px;
    }
  }

  @media only screen and (max-width: 576px) {
    :host {
      background-color: #999eae;
    }
    .form-fields {
      width: 100% !important;
    }

    app-input-select,
    app-input {
      width: 100% !important;
    }
  }

  @media (max-width: 1200px) {
  }
}
