@import "constants";

li,
ul,
h5 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

$indent: 0 20px;
$transitionDelay: 0.2s;

:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidePanelContentWidth;
  background-color: $lightColor;
}

.back {
  display: flex;
  align-items: center;
  padding: $indent;

  button {
    padding: 0 10px 0 0;
  }

  app-svg-icon {
    transform: rotate(90deg);
  }
}

.content {
  padding-bottom: 20px;

  .base-filter {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid $secondaryColor;

    .select-screen-split {
      display: flex;
      align-items: start;
      justify-content: space-between;
      padding: 10px 0;

      h5 {
        font-size: 14px;
      }

      .select-split {
        display: flex;
        gap: 10px;
      }

      .icon {
        color: $darkColor;
        cursor: pointer;
        transition: all $transitionDelay;

        &.selected {
          color: $successColor;
        }

        &:hover {
          color: $successColor;
        }
      }
    }
  }

  .analyses-list {
    li {
      padding: $indent;
      font-size: 13px;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: 576px) {
  app-svg-icon[name="split-3"],
  app-svg-icon[name="split-4"] {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  :host {
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow-y: auto;
    gap: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
