<h4>{{ "Indicators filter" | translate }}</h4>

<div class="filters">
  <form
    [formGroup]="form"
    (reset)="handleFormReset()"
    (ngSubmit)="handleFormSubmit()"
  >
    <app-fields-group [title]="'Filter' | translate">
      <div class="field-group">
        <div class="radio-btns">
          <app-input-radio
            [isResettable]="true"
            [options]="radioOptions"
            [formControl]="mode"
          >
          </app-input-radio>
        </div>
        <app-input-select
          [placeholder]="'Select a region' | translate"
          formControlName="region"
          [items]="regions"
          [nameField]="'name_' + currentLang"
        ></app-input-select>

        <app-input-select
          [placeholder]="'Select a district' | translate"
          formControlName="district"
          [items]="districts"
          [nameField]="'name_' + currentLang"
        ></app-input-select>

        <app-input-select
          *ngIf="mode?.value != 'agromap_store_ai'"
          [placeholder]="'Select a conton' | translate"
          formControlName="conton"
          [items]="contons"
          [nameField]="'name_' + currentLang"
        ></app-input-select>

        <app-input-select
          [placeholder]="'Select a land type' | translate"
          formControlName="land_type"
          [items]="landTypes"
          [multi]="true"
          [nameField]="'name_' + currentLang"
        ></app-input-select>
        <app-input
          type="number"
          [min]="2010"
          [max]="2023"
          [placeholder]="'Select a year' | translate"
          formControlName="year"
        >
        </app-input>
        <button type="submit" class="success">{{ "Apply" | translate }}</button>
        <button type="reset">{{ "Clear" | translate }}</button>
      </div>
    </app-fields-group>
  </form>
</div>

<div class="contours">
  <app-fields-group [title]="'Contours' | translate">
    <div class="field-group">
      <button type="button" routerLink="/home/contour-add">
        {{ "Add a new contour" | translate }}
      </button>

      <app-loading [loading]="loading">
        <div class="contours-list">
          <app-card-accordion
            *ngFor="let contour of filteredContours"
            [title]="contour.contour_year.features[0].properties['contour_cs']"
            (mouseClick)="handleContourClick(contour)"
            (editClick)="handleEditClick(contour)"
            (removeClick)="
              handleContourDelete(
                contour.contour_year.features[0].properties['contour_id'],
                deleteDialog
              )
            "
          >
            <div class="card">
              <span>
                {{ "Region" | translate }} :
                {{
                  contour.contour_year.features[0].properties[
                    "region_" + currentLang
                  ]
                }}
              </span>
              <span>
                {{ "District" | translate }} :
                {{
                  contour.contour_year.features[0].properties[
                    "district_" + currentLang
                  ]
                }}
              </span>
              <span>
                {{ "Conton" | translate }} :
                {{
                  contour.contour_year.features[0].properties[
                    "conton_" + currentLang
                  ]
                }}
              </span>
              <span>
                {{ "Land type" | translate }} :
                {{
                  contour.contour_year.features[0].properties[
                    "land_type_" + currentLang
                  ]
                }}
              </span>
              <span>
                {{ "Productivity" | translate }} :
                {{
                  contour.contour_year.features[0].properties["productivity"]
                }}
                {{ "c. per ha." | translate }}
              </span>
              <span>
                {{ "Area" | translate }} :
                {{ contour.contour_year.features[0].properties["area_ha"] }}
                {{ "ha" | translate }} .
              </span>
            </div>
          </app-card-accordion>
        </div>
      </app-loading>
    </div>
  </app-fields-group>
</div>

<app-question-dialog
  #deleteDialog
  [title]="'Delete contour' | translate"
  [isDanger]="true"
  (submitted)="handleDeleteSubmitted(deleteDialog)"
>
  {{ "Contour will be deleted, continue?" | translate }}
</app-question-dialog>
