@import "./constants";

.dark-info-dialog {
  max-width: 400px;
  padding: 0 20px;
  z-index: 400;
  font-size: 20px;
  box-shadow: 0px 0 50px 70px rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(0);
  transition: transform 0.5s ease;

  &.hidden {
    transform: translateX(-380px);
    box-shadow: none;
    background-color: transparent;
  }

  .contour-info {
    max-height: 50vh;
    overflow: auto;
  }

  .contour-info,
  .contour-info-partial {
    div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      color: #fff;
      font-size: 15px;

      span {
        margin: 5px 0;
      }
    }
  }

  .header {
    min-height: $mobileBottomNavHeight;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;

    app-svg-icon {
      position: absolute;
      top: 40%;

      &[name="arrow-down"] {
        transform: rotate(90deg);
        left: 0;
        transition: transform 0.5s ease;

        &.hidden {
          left: 370px;
          transform: rotate(270deg);
        }
      }

      &[name="clear"] {
        right: 0;
      }
    }

    app-svg-icon {
      cursor: pointer;
    }
  }

  .contour-info-partial {
    span {
      font-size: 20px;
      font-weight: 600;
    }
  }

  h1 {
    font-size: 15px;
    color: $lightColor;
    p {
      font-size: 30px;
      margin: 10px 0 0 0;
    }
    transform: translateX(0);

    &.hidden {
      transform: translateX(-85vw);
    }

    app-svg-icon[name="arrow-down"] {
      &.hidden {
        left: 82vw !important;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .dark-info-dialog {
    box-shadow: none;
    backdrop-filter: blur(30px);
    max-height: initial;
    position: fixed;
    max-width: inherit;
    left: 0;
    right: 0;
    bottom: calc($mobileBottomNavHeight * 2 - 5px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 500;

    &.hidden {
      transform: translateX(0px);
    }
    .contour-info {
      padding-bottom: 20px;
    }

    .header {
      app-svg-icon {
        &[name="arrow-down"] {
          transform: rotate(0deg);

          &.hidden {
            left: 0px;
            transform: rotate(-180deg);
          }
        }
      }
    }

    h1 {
      transform: translateX(0);

      &.hidden {
        transform: translateX(-85vw);
      }
    }
  }
}
