<div
  class="dark-info-dialog"
  [class.hidden]="isHidden"
  *ngIf="activeContour != null"
>
  <div *ngIf="activeContour != null">
    <div class="header">
      <h1
        [ngClass]="activeContour?.culture?.['name_'+currentLang]"
        [textContent]="activeContour?.culture?.['name_'+currentLang]"
      ></h1>
      <button
        class="toggle-btn arrow dark"
        (click)="isHidden = !isHidden"
        [class.hidden]="isHidden"
      >
        <app-svg-icon name="arrow-down" size="16"></app-svg-icon>
      </button>

      <button
        class="toggle-btn clear dark"
        (click)="onCancelClick.emit()"
        [class.hidden]="isHidden"
      >
        <app-svg-icon name="clear" size="18"></app-svg-icon>
      </button>
    </div>

    <div class="contour-info" [hidden]="isHidden">
      <div>
        {{ "Contour id" | translate }}
        <span>{{ activeContour?.id }}</span>
      </div>
      <div *ngIf="activeContour?.area_ha">
        {{ "Area" | translate }}
        <span>{{ activeContour.area_ha }} {{ "ha" | translate }}</span>
      </div>
      <div *ngIf="activeContour?.region?.['name_' + currentLang]">
        {{ "Region" | translate }}
        <span
          [textContent]="activeContour.region?.['name_' + currentLang]"
        ></span>
      </div>
      <div *ngIf="activeContour?.district?.['name_' + currentLang]">
        {{ "District" | translate }}
        <span
          [textContent]="activeContour.district?.['name_' + currentLang]"
        ></span>
      </div>
      <div
        *ngIf="activeContour?.conton?.['name_' + currentLang] && activeContour?.conton?.['name_' + currentLang]?.toLowerCase() !== 'none'"
      >
        {{ "Conton" | translate }}
        <span
          [textContent]="activeContour.conton?.['name_' + currentLang]"
        ></span>
      </div>
      <div *ngIf="activeContour?.type?.['name_' + currentLang]">
        {{ "Land type" | translate }}
        <span
          [textContent]="activeContour.type?.['name_' + currentLang]"
        ></span>
      </div>
      <div *ngIf="activeContour?.productivity">
        {{ "Productivity" | translate }}
        <span
          >{{ activeContour?.productivity }}
          {{ "c. per ha." | translate }}
        </span>
      </div>

      <div *ngIf="activeContour?.predicted_productivity">
        {{ "Productivity" | translate }}
        {{ "RSE" | translate }}
        <span
          >{{ activeContour?.predicted_productivity }}
          {{ "c. per ha." | translate }}</span
        >
      </div>
      <div *ngIf="activeContour?.elevation">
        {{ "Elevation" | translate }}
        <span
          >{{ activeContour?.elevation }}
          {{ "m. above sea level" | translate }}
        </span>
      </div>
      <div *ngIf="activeContour?.percent">
        {{ "RSE determination error" | translate
        }}<span>{{ activeContour.percent * 100 }} % </span>
      </div>
      <div *ngIf="activeContour?.soil_class?.['name_' + currentLang]">
        {{ "Soil class" | translate }}
        <span
          >ID {{ activeContour.soil_class?.ID }} -
          {{ activeContour.soil_class?.['name_' + currentLang] }}
        </span>
      </div>
      <div *ngIf="!!activeContour?.ink">
        {{ "INK" | translate }}
        <span>{{ activeContour.ink }}</span>
      </div>

      <div *ngIf="!!activeContour?.eni">
        ENI-{{ ("Code" | translate).toLowerCase() }}
        <span>{{ activeContour.eni }}</span>
      </div>
      <div>
        {{ "Culture" | translate }}
        <span
          *ngIf="activeContour.culture?.['name_' + currentLang]; else noCulture"
          >{{ activeContour.culture?.['name_' + currentLang] }}</span
        >
        <ng-template #noCulture>
          <span>{{ "Culture is not defined" | translate }}</span>
        </ng-template>
      </div>
      <div>
        {{ "Culture" | translate }} ({{ "RSE" | translate }})
        <span
          *ngIf="activeContour.predicted_culture?.['name_' + currentLang]; else noCulture"
          >{{
          activeContour.predicted_culture?.['name_' + currentLang]
          }}</span
        >
        <ng-template #noCulture>
          <span>{{ "Culture is not defined" | translate }}</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>
