@import "constants";

:host {
  display: flex;
  height: 100%;
  overflow: hidden;
  @media only screen and (min-width: 992px) {
    &:has(.croplandMapFilterBarFloating) {
      ::ng-deep {
        .topPanel {
          top: 80px;
        }
      }
    }
  }
}

.map-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.no-data-text {
  text-align: center;
}

.polygons-loading {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: auto;
  z-index: 9999999;
  color: $lightColor;
  background-color: rgba($darkColor, 0.7);
  backdrop-filter: blur(30px);
  padding: 10px 12px 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  user-select: none;
  border: 1px solid;

  p {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  app-svg-icon {
    background-color: $darkColor;
    border-radius: 100%;
  }
}

app-side-panel {
  z-index: 999;
}
