<app-side-panel [isOpened]="sidePanelData['state']">
  <app-contour-filter
    (onCardClick)="map.handleFeatureClick($event.layer, $event.feature)"
    (onEditClick)="map.handleFeatureClose()"
    (onModeChanged)="handleModeChange($event)"
    (onFormSubmit)="handleFilterFormSubmit($event)"
    (onFormReset)="handleFilterFormReset()"
  >
  </app-contour-filter>
  <router-outlet></router-outlet>
</app-side-panel>

<div class="map-container">
  <app-loading *ngIf="loading" [loading]="loading"></app-loading>
  <app-map
    #map
    (mapData)="handleMapData($event)"
    (mapMove)="handleMapMove($event)"
    (mapClick)="handleMapClick($event)"
    (featureClick)="handleFeatureClick($event)"
    (featureClose)="handleFeatureClose()"
    (featureHover)="handleFeatureMouseOver($event)"
    (featureUnhover)="handleFeatureMouseLeave($event)"
    [featureTitle]="'Vegetative indexes' | translate"
  >
    <app-map-controls controls>
      <ng-container rightPanel>
        <app-map-control
          tooltipTitle="Comparison of images"
          width="140px"
          routerLink="split-map"
          *ngIf="layerFeature"
          iconName="split-screen"
          [class.active]="currentRouterPathname.includes('split-map')"
        ></app-map-control>

        <app-map-control-zoom
          *ngIf="mapData"
          [map]="mapData.map"
        ></app-map-control-zoom>
        <app-map-control-layers-switch
          [hidden]="
            currentRouterPathname.includes('contour-add') ||
            currentRouterPathname.includes('contour-edit')
          "
          #mapControls
          [mode]="mode"
          *ngIf="mapData"
          [map]="mapData.map"
          [baseLayers]="baseLayers"
          [wmsLayers]="wmsLayers"
          [wmsSelectedStatusLayers]="wmsSelectedStatusLayers"
          (wmsLayerChanged)="handleWmsLayerChanged($event)"
        ></app-map-control-layers-switch>
        <app-map-control-locate
          *ngIf="mapData && !layerFeature"
          [map]="mapData.map"
        ></app-map-control-locate>

        <app-map-control
          *ngIf="
            user != null && !currentRouterPathname.includes('contour-edit')
          "
          [class.active]="currentRouterPathname.includes('contour-add')"
          [routerLink]="
            currentRouterPathname.includes('contour-add')
              ? '/cropland-map'
              : 'contour-add'
          "
          iconName="add-layer"
          tooltipTitle="Add contour"
          width="140px"
        ></app-map-control>
      </ng-container>

      <ng-container
        topPanel
        *ngIf="
          !currentRouterPathname.includes('contour-add') &&
          !currentRouterPathname.includes('contour-edit')
        "
      >
        <app-map-control-veg-indexes
          *ngIf="layerFeature && mapData"
          [layer]="layerFeature"
          [mapData]="mapData"
          [vegIndexesData]="vegIndexesData"
          [vegIndexOptionsList]="vegIndexOptionsList"
          (vegIndexOptionClick)="handleVegIndexOptionClick($event)"
          [loadingSatelliteDates]="loadingSatelliteDates"
          (onDateSelect)="hanldeVegIndexesDateSelect()"
        ></app-map-control-veg-indexes>

        <app-statistics
          [filterFormValues]="filterFormValues"
          *ngIf="!activeContour && landTypes.length > 0"
          [landTypes]="landTypes"
        ></app-statistics>

        <app-map-control
          class="transparent d-xs-none"
          *ngIf="!map?.['feautureCollapse']"
        >
          <app-contour-details
            [hidden]="currentRouterPathname.includes('split-map')"
            #contourDetails
            [mapData]="mapData"
            [activeContour]="activeContour"
            (onCancelClick)="map.handleFeatureClose()"
          >
          </app-contour-details>
        </app-map-control>

        <app-map-control
          *ngIf="activeContourSmall && !(layerFeature && activeContour)"
          class="transparent d-xs-none"
        >
          <app-contour-details
            [hidden]="currentRouterPathname.includes('split-map')"
            #contourDetails
            [mapData]="mapData"
            [activeContourSmall]="activeContourSmall"
            (onCancelClick)="map.handleFeatureClose()"
          >
          </app-contour-details>
        </app-map-control>
      </ng-container>

      <ng-container leftBottomPanel>
        <app-map-control class="transparent">
          <app-color-legend
            [hidden]="
              currentRouterPathname.includes('contour-add') ||
              currentRouterPathname.includes('contour-edit')
            "
            *ngIf="mapControlLayersSwitch['ndvi_heat_map']?.['name'] && (!map?.['feautureCollapse'] || !map?.['featureOpen'])"
            [maxHeight]="'200px'"
            [items]="wmsProductivityLayerColorLegend"
          ></app-color-legend>
        </app-map-control>
      </ng-container>
    </app-map-controls>

    <app-spline-area-chart
      featureBody
      [chartData]="contourData"
      *ngIf="layerFeature && contourData.length > 0; else noContourData"
    >
    </app-spline-area-chart>
    <ng-template #noContourData>
      <h3 class="no-data-text">
        {{ "No data" | translate }}
      </h3>
    </ng-template>

    <button
      *ngIf="user != null"
      actions
      type="button"
      class="transparent"
      (click)="handleEditClick()"
    >
      <app-svg-icon name="edit" size="18"></app-svg-icon>
    </button>
    <button
      *ngIf="user != null"
      actions
      type="button"
      class="transparent"
      (click)="deleteDialog.show()"
    >
      <app-svg-icon name="delete" size="18"></app-svg-icon>
    </button>
  </app-map>

  <app-split-map
    *ngIf="currentRouterPathname.includes('split-map')"
  ></app-split-map>
</div>

<app-question-dialog
  #deleteDialog
  [title]="'Delete contour' | translate"
  [isDanger]="true"
  (submitted)="handleDeleteSubmitted(deleteDialog)"
>
  {{ "Contour will be deleted, continue?" | translate }}
</app-question-dialog>
<app-toggle-button
  #toggleBtn
  (onClick)="handleSidePanelToggle($event)"
  [isContentToggled]="sidePanelData['state']"
  *ngIf="
    currentRouterPathname.includes('split-map') ||
    currentRouterPathname.includes('cropland-map')
  "
  [iconName]="
    currentRouterPathname.includes('contour-add')
      ? 'contour-path'
      : currentRouterPathname.includes('split-map')
      ? 'hamburger'
      : 'filter'
  "
></app-toggle-button>

<app-map-control
  class="tab transparent d-none d-xs-block"
  *ngIf="!map?.['feautureCollapse']"
>
  <app-contour-details
    [hidden]="currentRouterPathname.includes('split-map')"
    #contourDetails
    [mapData]="mapData"
    [activeContour]="activeContour"
    (onCancelClick)="map.handleFeatureClose()"
  >
  </app-contour-details
></app-map-control>
