@import "constants";

:host {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.map-container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
}

.no-data-text {
  text-align: center;
}

.polygons-loading {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: auto;
  z-index: 9999999;
  color: $lightColor;
  background-color: rgba($darkColor, 0.7);
  backdrop-filter: blur(30px);
  padding: 10px 12px 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  user-select: none;
  border: 1px solid;

  p {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  app-svg-icon {
    background-color: $darkColor;
    border-radius: 100%;
  }
}

app-side-panel {
  z-index: 999;
}

.sidebar-toggler {
  padding: 15px 0px 15px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  opacity: 1;
  transform: translateX(-10px);
  transition: all 0.2s ease;

  &:hover {
    background-color: $lightColor;
    transform: translateX(0px);
    transition: all 0.2s ease;
  }

  app-svg-icon {
    width: 20px !important;
    height: 20px !important;
    transform: rotate(-90deg);
  }
}
