:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.16), 0 -1px 6px rgba(0, 0, 0, 0.03);

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }

  p {
    text-align: center;
    font-size: 17px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 576px) {
  :host {
    padding: 20px;
  }
}
