<div class="contact-information-list" *ngIf="contactInformations.length > 0">
  <ng-container *ngIf="!isLoading">
    <app-contact-information
      *ngFor="let item of contactInformations"
      (click)="handleContactInformationClick(item)"
      [contactInformation]="item"
      [class.active]="
        activeContactInformation && activeContactInformation?.id === item?.id
      "
    ></app-contact-information>
  </ng-container>
</div>

<div *ngIf="isLoading" class="contact-information-list">
  <ng-container *ngFor="let num of [1, 2, 3, 4, 5]">
    <app-skeleton
      [width]="'100%'"
      [height]="'200px'"
      [className]="'custom-skeleton'"
      [borderRadius]="'10px'"
    ></app-skeleton>
  </ng-container>
</div>
<app-map (mapData)="handleMapData($event)"></app-map>
