@import "constants";

:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.open {
    .feature-content {
      display: block;
    }
  }
}

.map-wrapper {
  flex: 1;
  position: relative;
}

#map {
  height: 100%;
}

.feature-content {
  flex: 1;
  z-index: 450;
  display: none;
  padding: 16px;
  background-color: $lightColor;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    overflow: hidden auto;

    h4 {
      margin: 0;
    }
  }

  .actions-block {
    display: flex;
    overflow-y: hidden;
  }
}
