<div class="map-wrapper">
  <div [id]="mapId" class="map"></div>
  <ng-content select="[controls]"></ng-content>
</div>
<div class="feature-content">
  <div class="header" (click)="handleFeatureCollapseToggle()">
    <h4>
      <span [textContent]="featureTitle"></span>
    </h4>

    <div>
      <button type="button" class="transparent arrow-down show-on-hover">
        <app-svg-icon name="double-arrow-down" size="16"></app-svg-icon>
      </button>
    </div>

    <div class="actions-block">
      <ng-content select="[actions]"></ng-content>

      <button
        type="button"
        class="transparent arrow-down"
        (click)="[$event.stopPropagation(), handleFeatureCollapseToggle()]"
      >
        <app-svg-icon name="arrow-down" size="16"></app-svg-icon>
      </button>

      <button type="button" class="transparent" (click)="handleFeatureClose()">
        <app-svg-icon name="clear" size="18"></app-svg-icon>
      </button>
    </div>
  </div>
  <div class="body">
    <ng-content select="[featureBody]"></ng-content>
  </div>
</div>
