@import "constants";

$transitionDelay: 0.2s;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: flex $transitionDelay;

  &.open {
    .feature-content {
      transition: flex $transitionDelay;
      display: flex;
      flex: 0;

      .body {
        display: none;
      }

      .arrow-down {
        transform: rotate(180deg);
      }
    }
  }

  &.collapsed {
    .feature-content {
      flex: 1;

      .body {
        display: block;
      }

      .arrow-down {
        transition: all $transitionDelay;
        transform: rotate(0deg);
      }
    }
  }
}

.map-wrapper {
  flex: 1;
  position: relative;
}

#map {
  height: 100%;
}

.feature-content {
  flex: 1;
  z-index: 450;
  display: none;
  padding: 16px;
  background-color: $lightColor;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden auto;

    h4 {
      margin: 0;
    }
  }

  .actions-block {
    display: flex;
    overflow-y: hidden;
  }

  .arrow-down {
    transform: rotate(0deg);
    transition: all $transitionDelay;
  }
}

@media only screen and (max-width: 576px) {
  .header {
    margin-bottom: 20%;
  }

  .actions-block {
    overflow: hidden;
  }
}
