<div
  class="prev"
  [class.active]="isActivePrevBtn"
  (click)="handleTimelinePrevClick()"
>
  <app-svg-icon name="arrow-left" class="icon" size="18"></app-svg-icon>
</div>

<ul class="timeline-list" #timelineList>
  <ng-container *ngIf="vegIndexesData.length !== 0">
    <li
      *ngFor="let date of vegIndexesData"
      (click)="handleSelectDate(date)"
      [class.selected]="selectedDate === date"
      #timelineItem
    >
      <a>{{ date | date: 'fullDate' }}</a>
    </li> 
  </ng-container>
</ul>

<div
  class="next"
  [class.active]="isActiveNextBtn"
  (click)="handleTimelineNextClick()"
>
  <app-svg-icon name="arrow-right" class="icon" size="18"></app-svg-icon>
</div>
