<app-side-panel #sidePanel>
  <div class="dictionary-list">
    <h4>{{ "Dictionary" | translate }}</h4>
    <nav>
      <a (click)="handleLinkClick('regions')" routerLinkActive="active">{{
        "Regions" | translate
      }}</a>
      <a (click)="handleLinkClick('districts')" routerLinkActive="active">{{
        "Districts" | translate
      }}</a>
      <a (click)="handleLinkClick('contons')" routerLinkActive="active">{{
        "Contons" | translate
      }}</a>
      <a (click)="handleLinkClick('cultures')" routerLinkActive="active">{{
        "Cultures" | translate
      }}</a>
      <a (click)="handleLinkClick('indexes')" routerLinkActive="active">{{
        "Indexes" | translate
      }}</a>
    </nav>
  </div>
</app-side-panel>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-toggle-button
  #toggleBtn
  iconName="hamburger"
  (onClick)="sidePanel.handlePanelToggle()"
></app-toggle-button>
