@import "constants";

:host {
  display: flex;
  height: 100%;
}

.dictionary-list {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden auto;
  width: $sidePanelContentWidth;
  background-color: $lightColor;

  h4 {
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;

    a {
      font-size: 15px;
      padding: 16px;
      cursor: pointer;
      text-decoration: none;
      border-radius: 10px;
      color: $darkColor;
      font-weight: 500;

      &:hover,
      &.active {
        background-color: $sideNavMenuItemHoverBgColor;
      }
    }
  }
}

.content {
  position: relative;
  flex: 1;
  overflow: auto;
  padding: 30px;
}

@media only screen and (min-width: 576px) {
  .content {
    height: 100vh;
  }
}

@media only screen and (max-width: 992px) {
  .dictionary-list {
    width: 100%;
  }
}
