<app-side-panel>
  <div class="dictionary-list">
    <h4>{{ "Dictionary" | translate }}</h4>
    <nav>
      <a routerLink="regions" routerLinkActive="active">{{
        "Regions" | translate
      }}</a>
      <a routerLink="districts" routerLinkActive="active">{{
        "Districts" | translate
      }}</a>
      <a routerLink="contons" routerLinkActive="active">{{
        "Contons" | translate
      }}</a>
      <a routerLink="cultures" routerLinkActive="active">{{
        "Cultures" | translate
      }}</a>
      <a routerLink="indexes" routerLinkActive="active">{{
        "Indexes" | translate
      }}</a>
    </nav>
  </div>
</app-side-panel>
<div class="content">
  <router-outlet></router-outlet>
</div>
