<div class="form-wrapper">
  <div class="back">
    <button type="button" class="transparent" routerLink="..">
      <app-svg-icon name="arrow-down" size="14"></app-svg-icon>
    </button>
    <h4>{{ "Add contour" | translate }}</h4>
  </div>
  <app-contour-form #form>
    <button
      *ngIf="!polygon"
      type="button"
      class="success d-lg-none d-xl-none"
      (click)="handleDrawClick()"
      actions
    >
      {{ "Draw a field" | translate }}
    </button>

    <button
      *ngIf="polygon"
      type="button"
      class="success d-lg-none d-xl-none"
      (click)="handleEditClick()"
      actions
    >
      {{ "Edit the field" | translate }}
    </button>
  </app-contour-form>
</div>
<div class="actions">
  <button type="button" class="success" (click)="handleSaveClick(form)">
    <div *ngIf="!isLoading">
      {{ "Save" | translate }}
    </div>
    <app-loading
      class="dynamic-color spinner"
      [loading]="isLoading"
    ></app-loading>
  </button>
  <button
    type="button"
    disabled="isLoading"
    [class.danger]="!isLoading"
    routerLink=".."
  >
    {{ "Cancel" | translate }}
  </button>
</div>
