@import "constants";

$transitionDelay: 0.2s;
:host {
  background-color: $tabBgColor;
  border-radius: $tabBorderRadius;
  padding: $tabPaddings;
  color: $tabColor;
  transition: all $transitionDelay;
  cursor: pointer;

  &.disabled {
    color: $tabDisabledColor;
    background-color: $tabDisabledBgColor;
    pointer-events: none;
  }

  .icon {
    margin: auto;
  }

  &:hover {
    background-color: $tabBgHoverColor;
  }

  &.active {
    background-color: $tabActiveBgColor;
    color: $tabActiveColor;
    &:hover {
      background-color: $tabActiveBgHoverColor;
    }
  }

  &.transparent {
    background-color: transparent;
    padding: 0;
  }

  &.primary {
    z-index: 999;
  }

  &.w-100 {
    width: 100%;
  }
}
