<app-side-panel #sidePanel>
  <div class="profile-options">
    <div>
      <h4>{{ "Profile" | translate }}</h4>
      <nav>
        <a
          (click)="handleLinkClick()"
          routerLinkActive="active"
          routerLink="edit"
          >{{ "Edit profile" | translate }}</a
        >
        <a
          (click)="handleLinkClick()"
          routerLinkActive="active"
          routerLink="reset-password"
          >{{ "Reset password" | translate }}</a
        >
        <a
          *ngIf="currentUser?.is_superuser"
          (click)="handleLinkClick()"
          routerLinkActive="active"
          routerLink="create-dataset"
          >{{ "Create a dataset" | translate }}</a
        >
      </nav>
    </div>
    <button type="submit" class="danger" (click)="handleLogoutClick()">
      {{ "Logout" | translate }}
    </button>
  </div>
</app-side-panel>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-toggle-button
  #toggleBtn
  iconName="hamburger"
  (onClick)="sidePanel.handlePanelToggle()"
></app-toggle-button>
