<div>
  <div class="back">
    <button type="button" class="transparent" routerLink="../..">
      <app-svg-icon name="arrow-down" size="14"></app-svg-icon>
    </button>
    <h4>Редактирование контура</h4>
  </div>
  <app-loading [loading]="loading">
    <app-contour-form #form [value]="contour" [mode]="mode">
      <button
        type="button"
        class="success lg-show"
        (click)="handleSetSidePanelState(true)"
        actions
      >
        {{ "Edit the field" | translate }}
      </button>
    </app-contour-form>
  </app-loading>
</div>
<div class="actions">
  <button type="button" class="success" (click)="handleSaveClick(form)">
    {{ "Save" | translate }}
  </button>
  <button type="button" class="danger" routerLink="../..">
    {{ "Cancel" | translate }}
  </button>
</div>
