:host {
  display: block;
  padding: 40px;

  .land-type-stats {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 20px;
    height: 100vh;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .form-fields {
      display: flex;
      gap: 50px;

      app-input-select,
      app-input {
        width: 100%;
      }
    }
  }
}
