<div class="form-wrapper">
  <div class="back">
    <button type="button" class="navigate" routerLink="../..">
      <app-svg-icon name="arrow-down" size="22"></app-svg-icon>
    </button>
    <h4>Редактирование контура</h4>
  </div>
  <app-loading [loading]="loading">
    <app-contour-form #form [value]="contour" [mode]="mode">
      <button
        type="button"
        class="success d-lg-none d-xl-none"
        (click)="handleEditClick()"
        actions
      >
        {{ "Edit the field" | translate }}
      </button>
    </app-contour-form>
  </app-loading>
</div>
<div class="actions">
  <button type="button" class="success" (click)="handleSaveClick(form)">
    <div *ngIf="!isLoading">
      {{ "Save" | translate }}
    </div>
    <app-loading
      class="dynamic-color spinner"
      [loading]="isLoading"
    ></app-loading>
  </button>
  <button
    type="button"
    [class.danger]="!isLoading"
    [class.disabled]="isLoading"
    routerLink="../.."
  >
    {{ "Cancel" | translate }}
  </button>
</div>
