<h2>{{ "Reset password" | translate }}</h2>
<form [formGroup]="form" (ngSubmit)="resetPassword()">
  <div class="field-group">
    <app-form-field name="old_password" #old_password>
      <app-input
        (leftIconClick)="oldPasswordShow = !oldPasswordShow"
        [leftIcon]="oldPasswordShow ? 'eye' : 'eye-off'"
        [type]="oldPasswordShow ? 'text' : 'password'"
        [placeholder]="'Old password' | translate"
        formControlName="old_password"
        [required]="old_password.required"
      >
      </app-input>
    </app-form-field>

    <app-form-field name="password" #password>
      <app-input
        (leftIconClick)="passwordShow = !passwordShow"
        [type]="passwordShow ? 'text' : 'password'"
        [leftIcon]="passwordShow ? 'eye' : 'eye-off'"
        [placeholder]="'New password' | translate"
        formControlName="password"
        [required]="password.required"
      >
      </app-input>
    </app-form-field>

    <app-form-field name="password_confirm" #password_confirm>
      <app-input
        (leftIconClick)="confirmPasswordShow = !confirmPasswordShow"
        [leftIcon]="confirmPasswordShow ? 'eye' : 'eye-off'"
        [type]="confirmPasswordShow ? 'text' : 'password'"
        [placeholder]="'Confirm password' | translate"
        formControlName="password_confirm"
        [required]="password_confirm.required"
      >
      </app-input>
    </app-form-field>

    <div class="actions">
      <button type="submit" class="success">{{ "Save" | translate }}</button>
    </div>
  </div>
</form>
