<app-map
  #map
  [mapId]="mapId"
  (mapData)="handleMapData($event)"
  (mapClick)="handleMapClick($event)"
  (mapMousemove)="handleMapMousemove($event)"
  [featureTitle]="'Vegetative indexes' | translate"
>
  <app-map-controls controls>
    <div rightPanel>
      <ng-container rightPanel>
        <app-map-control-zoom
          *ngIf="mapData"
          [map]="mapData.map"
        ></app-map-control-zoom>
        <app-map-control-layers-switch
          [hidden]="
            currentRouterPathname.includes('contour-add') ||
            currentRouterPathname.includes('contour-edit')
          "
          #mapControls
          [mode]="mode"
          *ngIf="mapData"
          [map]="mapData.map"
          [baseLayers]="baseLayers"
          [wmsLayers]="wmsLayers"
          [wmsSelectedStatusLayers]="wmsSelectedStatusLayers"
          (wmsLayerChanged)="handleWmsLayerChanged($event)"
          [storageName]="storageName"
        ></app-map-control-layers-switch>
        <app-map-control-locate
          *ngIf="mapData && !layerFeature"
          [map]="mapData.map"
        ></app-map-control-locate>
      </ng-container>
    </div>

    <ng-container
      topPanel
      *ngIf="
        !currentRouterPathname.includes('contour-add') &&
        !currentRouterPathname.includes('contour-edit')
      "
    >
      <app-map-control-veg-indexes
        *ngIf="layerFeature && mapData"
        [layer]="layerFeature"
        [mapData]="mapData"
        [vegIndexesData]="vegIndexesData"
        [vegIndexOptionsList]="vegIndexOptionsList"
        (vegIndexOptionClick)="handleVegIndexOptionClick($event)"
        [loadingSatelliteDates]="loadingSatelliteDates"
        (onDateSelect)="
          showActiveContourInfo && (contourDetails.isHidden = true)
        "
      ></app-map-control-veg-indexes>

      <app-map-control-statistics
        class="primary"
        *ngIf="!activeContour && showControlStatistics"
        [collapseOnChanges]="contourPastureStatisticsProductivityTableItems"
        [title]="'Roll up' | translate"
      >
        <app-content-tabs>
          <app-tab [title]="'Pasture (productivity area)' | translate">
            <app-table
              *ngFor="
                let item of contourPastureStatisticsProductivityTableItems
              "
              [items]="item"
              [border]="false"
              mode="dark"
              [fields]="[
                {
                  title: item[0]['areaType'].toString() | translate,
                  field: 'areaName_' + currentLang
                },
                {
                  title: 'Productive' | translate | truncate : 10,
                  field: 'productive'
                },
                {
                  title: 'Unproductive' | translate | truncate : 10,
                  field: 'unproductive'
                }
              ]"
            ></app-table>
          </app-tab>
        </app-content-tabs>
      </app-map-control-statistics>

      <div class="tab transparent d-xs-none">
        <app-contour-details
          [hidden]="map?.['feautureCollapse']"
          #contourDetails
          [mapData]="mapData"
          [activeContour]="activeContour"
          (onCancelClick)="map.handleFeatureClose()"
          *ngIf="showActiveContourInfo"
        >
        </app-contour-details>
      </div>

      <div
        *ngIf="activeContourSmall && !(layerFeature && activeContour)"
        class="tab transparent d-xs-none"
      >
        <app-contour-details
          #contourDetails
          [mapData]="mapData"
          [activeContourSmall]="activeContourSmall"
          (onCancelClick)="map.handleFeatureClose()"
        >
        </app-contour-details>
      </div>
    </ng-container>

    <ng-container leftBottomPanel>
      <div class="tab transparent">
        <app-color-legend
          [hidden]="
            currentRouterPathname.includes('contour-add') ||
            currentRouterPathname.includes('contour-edit')
          "
          *ngIf="pasturesMapControlLayersSwitch['ndvi_heat_map']?.['name'] && (!map?.['feautureCollapse'] || !map?.['featureOpen'])"
          [maxHeight]="'200px'"
          [items]="wmsProductivityLayerColorLegend"
        ></app-color-legend>
      </div>

      <div class="tab transparent" *ngIf="showLegends['productivityStatus']">
        <app-color-legend
          [hidden]="
            currentRouterPathname.includes('contour-add') ||
            currentRouterPathname.includes('contour-edit')
          "
          *ngIf="pasturesMapControlLayersSwitch['filterControlLayerSwitch']?.['name'] && (!map?.['feautureCollapse'] || !map?.['featureOpen'])"
          [maxHeight]="'200px'"
          [items]="[
            { label: 'Productive' | translate, color: '#1BA87D' },
            { label: 'Unproductive' | translate, color: '#B3EC84' }
          ]"
        ></app-color-legend>
      </div>
    </ng-container>
  </app-map-controls>

  <app-spline-area-chart
    featureBody
    [chartData]="contourData"
    *ngIf="layerFeature && contourData.length > 0; else noContourData"
  >
  </app-spline-area-chart>

  <ng-template #noContourData>
    <h3 class="no-data-text">
      {{ "No data" | translate }}
    </h3>
  </ng-template>
</app-map>

<div class="d-none d-xs-block">
  <app-contour-details
    [hidden]="map?.['feautureCollapse']"
    #contourDetails
    [mapData]="mapData"
    [activeContour]="activeContour"
    (onCancelClick)="map.handleFeatureClose()"
    *ngIf="showActiveContourInfo"
  >
  </app-contour-details>
</div>
