<app-map
  #map
  [mapId]="mapId"
  (mapData)="handleMapData($event)"
  (mapClick)="handleMapClick($event)"
  (mapMousemove)="handleMapMousemove($event)"
  [featureTitle]="'Vegetative indexes' | translate"
>
  <app-map-controls controls>
    <ng-container rightPanel>
      <app-map-control-zoom
        *ngIf="mapData"
        [map]="mapData.map"
      ></app-map-control-zoom>
      <app-map-control-layers-switch
        [hidden]="
          currentRouterPathname.includes('contour-add') ||
          currentRouterPathname.includes('contour-edit')
        "
        #mapControls
        [mode]="mode"
        *ngIf="mapData"
        [map]="mapData.map"
        [baseLayers]="baseLayers"
        [wmsLayers]="wmsLayers"
        [wmsSelectedStatusLayers]="wmsSelectedStatusLayers"
        (wmsLayerChanged)="handleWmsLayerChanged($event)"
        [storageName]="storageName"
      ></app-map-control-layers-switch>
      <app-map-control-locate
        *ngIf="mapData && !layerFeature"
        [map]="mapData.map"
      ></app-map-control-locate>
    </ng-container>

    <ng-container
      topPanel
      *ngIf="
        !currentRouterPathname.includes('contour-add') &&
        !currentRouterPathname.includes('contour-edit')
      "
    >
      <app-map-control
        class="transparent w-100"
        *ngIf="title && !activeContour && !layerFeature"
      >
        <h3 class="title" [textContent]="title"></h3>
      </app-map-control>

      <app-map-control-veg-indexes
        *ngIf="layerFeature && mapData"
        [layer]="layerFeature"
        [mapData]="mapData"
        [vegIndexesData]="vegIndexesData"
        [vegIndexOptionsList]="vegIndexOptionsList"
        (vegIndexOptionClick)="handleVegIndexOptionClick($event)"
        [loadingSatelliteDates]="loadingSatelliteDates"
        (onDateSelect)="onDateSelect.emit()"
      ></app-map-control-veg-indexes>

      <app-statistics
        *ngIf="!activeContour && landTypes.length > 0 && showControlStatistics"
        [landTypes]="[landTypes[0]]"
        [filterFormValues]="filterFormValues"
      ></app-statistics>

      <app-map-control class="transparent d-xs-none">
        <app-contour-details
          [hidden]="map?.['feautureCollapse']"
          #contourDetails
          [mapData]="mapData"
          [activeContour]="activeContour"
          (onCancelClick)="map.handleFeatureClose()"
          *ngIf="showActiveContourInfo"
        >
        </app-contour-details
      ></app-map-control>

      <app-map-control
        *ngIf="activeContourSmall && !(layerFeature && activeContour)"
        class="transparent d-xs-none"
      >
        <app-contour-details
          #contourDetails
          [mapData]="mapData"
          [activeContourSmall]="activeContourSmall"
          (onCancelClick)="map.handleFeatureClose()"
        >
        </app-contour-details>
      </app-map-control>
    </ng-container>

    <ng-container leftBottomPanel>
      <app-map-control class="transparent">
        <app-color-legend
          [hidden]="
            currentRouterPathname.includes('contour-add') ||
            currentRouterPathname.includes('contour-edit')
          "
          *ngIf="pasturesMapControlLayersSwitch['ndvi_heat_map']?.['name'] && (!map?.['feautureCollapse'] || !map?.['featureOpen'])"
          [maxHeight]="'200px'"
          [items]="wmsProductivityLayerColorLegend"
        ></app-color-legend
      ></app-map-control>

      <app-map-control
        class="transparent"
        *ngIf="showLegends['productivityStatus']"
      >
        <app-color-legend
          [hidden]="
            currentRouterPathname.includes('contour-add') ||
            currentRouterPathname.includes('contour-edit')
          "
          *ngIf="pasturesMapControlLayersSwitch['filterControlLayerSwitch']?.['name'] && (!map?.['feautureCollapse'] || !map?.['featureOpen'])"
          [maxHeight]="'200px'"
          [items]="[
            { label: 'Productive' | translate, color: '#1BA87D' },
            { label: 'Unproductive' | translate, color: '#B3EC84' }
          ]"
        ></app-color-legend
      ></app-map-control>
    </ng-container>
  </app-map-controls>

  <app-spline-area-chart
    featureBody
    [chartData]="contourData"
    *ngIf="layerFeature && contourData.length > 0; else noContourData"
  >
  </app-spline-area-chart>

  <ng-template #noContourData>
    <h3 class="no-data-text">
      {{ "No data" | translate }}
    </h3>
  </ng-template>
</app-map>

<div class="d-none d-xs-block">
  <app-contour-details
    [hidden]="map?.['feautureCollapse']"
    #contourDetails
    [mapData]="mapData"
    [activeContour]="activeContour"
    (onCancelClick)="map.handleFeatureClose()"
    *ngIf="showActiveContourInfo"
  >
  </app-contour-details>
</div>
