<div class="header">
  <h1 class="title">{{ "Regions" | translate }}</h1>
</div>
<div class="list">
  <app-table
    [actions]="false"
    [items]="list"
    [fields]="[
      { title: 'Name' | translate, field: 'name_' + currentLang },
      { title: 'Description' | translate, field: 'description_' + currentLang }
    ]"
    *ngIf="list.length > 0; else noItems"
  ></app-table>
  <ng-template #noItems>
    <app-loading [loading]="loading">
      <h4>{{ "No data" | translate }}</h4>
    </app-loading>
  </ng-template>
</div>
<router-outlet></router-outlet>
