<div
  class="tab"
  [class.active]="isCollapsed"
  (click)="handleCollapseClick($event)"
>
  <app-svg-icon name="layer" class="icon" size="16px"></app-svg-icon>
</div>

<div class="dialog" [class.collapsed]="isCollapsed">
  <h5>{{ "MapSettings" | translate }}</h5>
  <div class="over-layers-group">
    <app-input-radio
      class="vertical"
      name="wmsLayers"
      nameField="title"
      valueField="name"
      [value]="selected"
      [options]="wmsLayers"
      (changed)="handleWmsLayerChange($event)"
    ></app-input-radio>
  </div>

  <hr />

  <h5>{{ "MapType" | translate }}</h5>
  <div class="base-layers-group">
    <app-input-radio
      class="vertical"
      name="baseLayers"
      nameField="title"
      valueField="name"
      [options]="baseLayers"
      (changed)="handleBaseLayerChange($event)"
    ></app-input-radio>
  </div>
</div>
