@import "constants";

:host {
  position: relative;
}

//base
$baseColor: $darkColor;
$baseTransitionDelay: 0.2s;

//Dialog
$dialogBgColor: $baseColor;
$dialogBcFilter: blur(3px);

//Layers-group
$layersGroupMaxHeight: 80%;

app-input-radio {
  color: $lightColor;
}

.dialog {
  padding: 15px;
  background-color: $dialogBgColor;
  position: absolute;
  right: 25px;
  bottom: 0px;
  border-radius: 4px;
  backdrop-filter: $dialogBcFilter;
  opacity: 0;
  transition: all $baseTransitionDelay;
  pointer-events: none;
  min-width: 250px;

  h5 {
    margin: 0 0 10px;
    color: $lightColor;
  }

  .over-layers-group,
  .base-layers-group {
    max-height: $layersGroupMaxHeight;
    overflow-y: auto;
  }

  &.collapsed {
    right: 60px;
    opacity: 1;
    pointer-events: initial;
    transition: all $baseTransitionDelay;
  }
}
