/*
* Colors
*/

// Base
$lightColor: #ffffff;
$darkColor: #322c2c;
$primaryColor: #1b55eb;
$secondaryColor: #e1e1e1;
$successColor: #27ae60;
$dangerColor: #e34645;
$warningColor: #FFA500;
$primaryBackgroundColor: #fff;

// Sidenav
$sideNavMenuBgColor: #eeeff2;
$sideNavMenuItemHoverBgColor: #dddfe4;

// Other

/*
* Sizes
*/

// Base

// Sidenav
$sideNavMenuGap: 20px;
$sideNavMenuWidth: 80px;
$sideNavMenuOpenWidth: 250px;
$sideNavMenuItemGap: 10px;
$sideNavMenuItemPadding: 14px;
$sideNavMenuItemLogoWidth: 54px;
$sideNavMenuItemLogoHeight: 54px;
$sideNavMenuItemIconMargin: 14px;

// Side Panel
$sidePanelContentWidth: 436px;

// Other

/*
* Delays
*/

// Sidenav
$sideNavTransitionDelay: 0.25s;

// Side dialog
$sideDialogTitleVerticalMarginSize: 24px;
$sideDialogVerticalPaddingSize: 24px;
$sideDialogHorizontalPaddingSize: 20px;
