/*
* Colors
*/

// Base
$lightColor: #ffffff;
$darkColor: #322c2c;
$primaryColor: #1b55eb;
$secondaryColor: #e1e1e1;
$successColor: #27ae60;
$dangerColor: #e34645;
$warningColor: #e7f082;

// Sidenav
$sideNavMenuBgColor: #eeeff2;
$sideNavMenuItemHoverBgColor: #dddfe4;

// Other

/*
* Sizes
*/

// Base

// Logo
$logoWidth: 54px;
$logoHeight: 54px;

// Sidenav
$sideNavMenuGap: 20px;
$sideNavMenuWidth: 80px;
$sideNavMenuOpenWidth: 250px;
$sideNavMenuItemGap: 10px;
$sideNavMenuItemPadding: 14px;
$sideNavMenuItemIconMargin: 14px;
$sideNavContentWidth: 436px;

// Input
$inputBorderRadius: 4px;

// Other

/*
* Delays
*/

// Sidenav
$sideNavTransitionDelay: 0.25s;
