<app-loading *ngIf="loading" [loading]="loading"></app-loading>
<div class="back">
  <button class="transparent" (click)="clickBack.emit(false)">
    <app-svg-icon name="arrow-left" size="18"></app-svg-icon>
    <p [textContent]="'Go back' | translate"></p>
  </button>
</div>
<div class="maps">
  <app-yield-map
    [mapId]="'yieldMap1'"
    [storageName]="'yieldMap1'"
    [width]="'50%'"
  ></app-yield-map>
  <app-yield-map
    [mapId]="'yieldMap2'"
    [storageName]="'yieldMap2'"
    [width]="'50%'"
    [showActiveContourInfo]="false"
    [showControlStatistics]="false"
    [showLegends]="{ productivityStatus: false }"
    [title]="'Remote sensing of the earth' | translate"
    baseAgromapGeoserverName="agromap:agromap_productivity_ai"
  ></app-yield-map>
</div>
