<app-loading *ngIf="loading" [loading]="loading"></app-loading>
<div class="back">
  <button class="transparent" (click)="clickBack.emit(false)">
    <app-svg-icon name="arrow-left" size="18"></app-svg-icon>
  </button>
  <p [textContent]="'Go back' | translate"></p>
</div>
<div class="maps">
  <app-yield-map
    [mapId]="'1'"
    [storageName]="'yieldMap1'"
    [width]="'50%'"
  ></app-yield-map>
  <app-yield-map
    [mapId]="'2'"
    [storageName]="'yieldMap2'"
    [width]="'50%'"
    [showActiveContourInfo]="false"
    [showControlStatistics]="false"
  ></app-yield-map>
</div>
