@import "constants";

$intend: 50px;
$borderRadius: 8px;
$bgColor: rgb(240, 248, 255);

li {
  list-style-type: none;
}

.container-qa-book-ai {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

h4,
ul {
  padding: 0;
  margin: 0;
}

.container-qa-book-ai-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 50px 20px;
}

nav {
  ol {
    padding: 0;
    margin: 50px 20px;
  }
  .breadcrumb {
    display: flex;
    a {
      text-decoration: none;
      color: $darkColor;
      font-weight: 400;
      &:hover {
        color: $successColor;
      }
    }
    li {
      &:not(:last-child)::after {
        content: "/";
        margin: 0 10px;
      }
    }
  }
}

section {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: $intend;
  background-color: $bgColor;
  border-radius: $borderRadius;
  padding: 30px;

  img {
    max-width: 40%;
    border-radius: $borderRadius;
  }

  h5 {
    color: $successColor;
    font-size: 25px;
    line-height: 1.2;
    margin: 30px 0;
  }

  h4 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  p {
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
  }

  @media only screen and (max-width: 992px) {
    flex-direction: column;
    img {
      max-width: 100%;
    }
  }
}

.about {
  flex-direction: column;
  img {
    max-width: 100%;
    height: 50%;
  }
}

.info {
  .content div {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 30px;

    ul {
      li {
        padding: 30px;
        border-radius: $borderRadius;
        margin-bottom: 10px;
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover,
        &.active {
          background-color: rgba(255, 255, 0, 0.479);
        }
      }
    }
    img {
      max-width: 70%;
      transition: all 1s ease;
    }

    @media only screen and (max-width: 992px) {
      flex-direction: column-reverse;
      img {
        max-width: 100%;
      }
    }
  }
}

.additional ol li {
  margin: 10px;
}
