<app-side-panel>
  <app-contour-filter
    (onCardClick)="map.handleFeatureClick($event.layer, $event.feature)"
    (onEditClick)="map.handleFeatureClose()"
  >
  </app-contour-filter>
  <router-outlet></router-outlet>
</app-side-panel>

<div class="map-container">
  <app-map
    #map
    [featureTitle]="
      ('Culture' | translate) + ':' | unit : (culture | checkExist)
    "
    (mapData)="handleMapData($event)"
    (mapMove)="handleMapMove($event)"
    (featureClick)="handleFeatureClick($event)"
    (featureClose)="handleFeatureClose()"
  >
    <app-map-controls controls>
      <div rightPanel>
        <app-map-control-split-map
          routerLink="/home/split-map"
          *ngIf="layerFeature"
          [isActive]="currentRouterPathname === '/home/split-map'"
        >
        </app-map-control-split-map>
        <ng-container rightPanel>
          <app-map-control-zoom
            *ngIf="mapData"
            [map]="mapData.map"
          ></app-map-control-zoom>
          <app-map-control-layers-switch
            *ngIf="mapData"
            [map]="mapData.map"
            [baseLayers]="baseLayers"
            [wmsLayers]="wmsLayers"
            (wmsLayerChanged)="handleWmsLayerChanged($event)"
          ></app-map-control-layers-switch>
          <app-map-control-locate
            *ngIf="mapData && !layerFeature"
            [map]="mapData.map"
          ></app-map-control-locate>
        </ng-container>
      </div>
      <ng-container topPanel>
        <app-map-control-veg-indexes
          *ngIf="layerFeature && mapData"
          [layer]="layerFeature"
          [mapData]="mapData"
          [vegIndexesData]="vegIndexesData"
          [vegIndexOptionsList]="vegIndexOptionsList"
          (vegIndexOptionClick)="handleVegIndexOptionClick($event)"
          [loadingSatelliteDates]="loadingSatelliteDates"
        ></app-map-control-veg-indexes>
      </ng-container>
    </app-map-controls>

    <app-spline-area-chart
      featureBody
      [chartData]="contourData"
      *ngIf="layerFeature && contourData.length > 0; else noContourData"
    >
    </app-spline-area-chart>
    <ng-template #noContourData>
      <h3 class="no-data-text">{{ "No data" | translate }}</h3>
    </ng-template>
    <button actions type="button" class="transparent" (click)="handleEditClick(map)">
      <app-svg-icon name="edit" size="18"></app-svg-icon>
    </button>
    <button actions type="button" class="transparent" (click)="deleteDialog.show()">
      <app-svg-icon name="delete" size="18"></app-svg-icon>
    </button>
  </app-map>

  <app-split-map
    *ngIf="currentRouterPathname === '/home/split-map'"
  ></app-split-map>
</div>

<app-question-dialog
  #deleteDialog
  [title]="'Delete contour' | translate"
  [isDanger]="true"
  (submitted)="handleDeleteSubmitted(deleteDialog, map)">
  {{'Contour will be deleted, continue?' | translate}}
</app-question-dialog>
