@import "constants";

.rightPanel {
  z-index: 401;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -90px;
  display: flex;
  flex-direction: column;
  gap: 5px;

  ::ng-deep {
    div[rightPanel] {
      display: contents;
    }
  }
}

.topPanel {
  position: absolute;
  top: 10px;
  margin: 0 10px;
  left: 5px;
  right: 5px;
  pointer-events: none;

  ::ng-deep {
    .dropdown-box,
    .timeline {
      position: relative;
      z-index: 403;
      pointer-events: initial;
    }
    .date {
      position: relative;
      z-index: 402;
      pointer-events: initial;
    }
    .map-control {
      position: relative;
      display: inline-block;
      z-index: 400;
      pointer-events: initial;
    }
  }
}

.leftBottomPanel {
  position: absolute;
  bottom: 10px;
  margin: 0 10px;
  left: 5px;
  right: 5px;
  pointer-events: none;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;

  ::ng-deep {
    .map-control {
      position: relative;
      z-index: 401;
      pointer-events: initial;
      display: inherit;
    }
  }
}

.topCenterPanel {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 5px;
  pointer-events: none;
  bottom: 10px;
  display: flex;
  align-items: center;

  ::ng-deep {
    .map-control {
      position: relative;
      display: inline-block;
      z-index: 404;
      pointer-events: initial;
    }
  }
}
