@import "constants";

// base
$basePaddings: 10px;
$baseGap: 5px;
$baseTransitionDelay: 0.2s;
$baseHeight: 100%;
// $baseHeight: auto;

// tab
$tabBgColor: $darkColor;
$tabPaddings: 13.5px;
$tabColor: $lightColor;
$tabBorderRadius: 50%;
$tabBgHoverColor: rgb(24, 23, 23);

// tab-active
$tabActiveBgColor: rgb(231, 231, 231);
$tabActiveColor: $darkColor;
$tabActiveBgHoverColor: $lightColor;

//tab-disabled
$tabDisabledBgColor: #5f5f5fea;
$tabDisabledColor: rgba(165, 178, 188, 0.7);

.tab {
  background-color: $tabBgColor;
  border-radius: $tabBorderRadius;
  padding: $tabPaddings;
  color: $tabColor;
  transition: all $baseTransitionDelay;
  cursor: pointer;

  &.disabled {
    color: $tabDisabledColor;
    background-color: $tabDisabledBgColor;
    pointer-events: none;
  }

  .icon {
    margin: auto;
  }

  &:hover {
    background-color: $tabBgHoverColor;
  }

  &.active {
    background-color: $tabActiveBgColor;
    color: $tabActiveColor;
    &:hover {
      background-color: $tabActiveBgHoverColor;
    }
  }

  &.transparent {
    background-color: transparent;
    padding: 0;
  }
}

.rightPanel {
  z-index: 401;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-90px);
  display: flex;
  flex-direction: column;
  gap: 5px;

  ::ng-deep {
    div[rightPanel] {
      display: contents;
    }
    .tab {
      @extend .tab;
    }
  }
}

.topPanel {
  position: absolute;
  top: 10px;
  margin: 0 10px;
  left: 5px;
  right: 5px;
  pointer-events: none;

  ::ng-deep {
    .dropdown-box,
    .timeline {
      position: relative;
      z-index: 401;
      pointer-events: initial;
    }
    .date {
      position: relative;
      z-index: 402;
      pointer-events: initial;
    }
    .tab {
      @extend .tab;
      position: relative;
      display: inline-block;
      z-index: 400;
      pointer-events: initial;
    }
  }
}

.leftBottomPanel {
  position: absolute;
  bottom: 10px;
  margin: 0 10px;
  left: 5px;
  right: 5px;
  pointer-events: none;
  display: flex;
  gap: 5px;
  flex-direction: column;

  ::ng-deep {
    .tab {
      @extend .tab;
      position: relative;
      z-index: 401;
      pointer-events: initial;
      display: inherit;
    }
  }
}
