@import "./constants";

.dark-info-dialog {
  max-width: 400px;
  padding: 0 20px;
  z-index: 400;
  font-size: 20px;
  background-color: rgba($darkColor, 0.8);
  transition: opacity 0.5s ease;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  opacity: 1;
  pointer-events: initial;
  // backdrop-filter: blur(10px);

  &.hidden {
    opacity: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .contour-info-partial {
    span {
      font-size: 20px;
      font-weight: 600;
      margin: 0;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .property {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: #fff;
    font-size: 15px;

    span {
      margin: 5px 0;
    }
  }

  .title {
    font-size: 30px;
    margin: 10px 0 0 0;
    text-align: start;
  }

  .culture-id {
    display: flex;
    flex-direction: column;

    &:has(.title) {
      gap: 30px;
    }
  }
}
